body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
  font-size: 10px;
}
.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

h2 {
  font-size: 24px;
}

header {
  display: flex;
  flex-direction: column;
  padding-left: 25vw;
  padding-right: 25vw;
  background-color: #1f2937;
  color: white;
}
.nav-bar {
  display: flex;
  justify-content: space-between;
}
.nav-left {
  display: flex;
  justify-content: flex-start;
  font-weight: bold;
}
.nav-right {
  display: flex;
  justify-content: space-between;
  list-style: none;
  gap: 10px;
}
.nav-right li {
  text-decoration: none;
}
main {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  flex-grow: 1;
}
main h2 {
  text-align: center;
}
.hero-section {
  background-color: #1f2937;
  display: flex;
  justify-content: space-between;
  padding-top: 50px;
  padding-bottom: 50px;
  gap: 50px;
}
.hero-section button {
  border: none;
  border-radius: 5px;
  padding: 5px 15px;
  background-color: #3882f6;
  color: white;
}
.hero-left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 8px;
}
.hero-left h2 {
  margin: 0;
}
.image {
  height: auto;
  width: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #797f8b;
}

.main-top {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}
.container-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  flex-basis: 80px;
}
.container-row {
  display: flex;
  justify-content: center;
  gap: 20px;
}
.blue-box {
  width: 80px;
  height: 80px;
  border: 2px solid #3882f6;
  border-radius: 5px;
}
.text {
  text-align: center;
}
.main-middle {
  display: flex;
  flex-direction: column;
  background-color: #e5e7eb;
  padding: 80px 30vw;
  margin-top: 50px;
}
.quote {
  font-style: italic;
  text-align: start;
  font-size: 16px;
  margin: 0;
}
.author {
  font-weight: bold;
  text-align: end;
  margin: 0;
}
.main-bottom {
  color: white;
  display: flex;
  align-items: center;
  border-radius: 5px;
  gap: 50px;
  margin: 50px auto;
  background-color: #3882f6;
  padding: 30px 50px;
}
.main-bottom h3 {
  margin: 0;
}
.main-bottom p {
  margin: 0;
}
.sign-up-bottom {
  border: 1px solid white;
  border-radius: 5px;
  padding: 5px 15px;
  background-color: transparent;
  color: white;
}
footer {
  background-color: #1f2937;
  padding: 10px 100px;
  color: white;
  text-align: center;
}
